*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.main{
    padding: 5px;
    margin: 0 auto;
    width: 600px;
    max-height: 500px;
    overflow-x: auto;
    white-space: nowrap;
}
.one{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 200px;
    background: red;
}
p{
    display: block;
    padding: 10px;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
}

.child{
    width: 400px;
    height: 100px;
    background: #c3baba;
    position: relative;
    margin: 0 100px;
}
.child_1{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #727070;
}
.child_2{
    position: absolute;
    top: 0;
    left: 380px;
    width: 20px;
    height: 20px;
    background: red;
}
.child_3{
    position: relative;
    left: 0;
    bottom: -80px;
    width: 20px;
    height: 20px;
    background: green;
}
.child_4{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: rebeccapurple;
    vertical-align: bottom;
}
.child_5{
    width: 400px;
    height: 100px;
    background: #c3baba;
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
}